<!DOCTYPE html>
<html lang="en">
<head>

    <title>Caos-News</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css">
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
   </script>
     </script>
     <script type="text/javascript">
       $(document).ready(function(){
         $("#seleccionar").click(function(){
           $(this).hide();
         })
       })
   
     </script>
      
    
</head>
<body id="body">
  {% load static %}
  
    <nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
        <a id="seleccionar" class="navbar-brand" href="#"><img src="{% static 'core/img/caos_news_logo.jpg' %}" alt="Logo Caos-News" width="170" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div id="carousel1" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'main' %}">Cerrar sesion</a>
            </li>
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'listanoticias' %}">Mis Noticias</a>
            </li>
          </ul>
          <form id="boton" class="form-inline my-2 my-lg-0">
            <input  class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
            <a href="{% url 'buscador' %}" ><button id="boton1" class="btn btn-primary btn-primary-outline-success" type="button">Buscar</button></a>
          </form>
        </div>
      </nav>
      <div>
        <a class="weatherwidget-io" href="https://forecast7.com/es/n33d45n70d67/santiago/" data-label_1="SANTIAGO" data-label_2="CLIMA" data-theme="original" >SANTIAGO CLIMA</a>
      </div>
      <div class="text-center">
          <h3>Noticias Destacadas</h3>
          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
          
            <!-- The slideshow -->
            <div  class="carousel-inner imagenAuto">
                <div class="carousel-item active">
                  <a href="{% url 'noticia2' %}"><img src="{% static 'core/img/Balacera 1.jpg'%}" class="img-fluid" alt="Los Angeles"></a>
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="{% url 'noticia1' %}"><img src="{% static 'core/img/Choque2.jpg'%}" class="img-fluid" style="margin: -3%;"alt="Chicago"></a>
                </div>
                <div class="carousel-item imagenAuto">
                  <a href="{% url 'noticia3' %}"><img src="{% static 'core/img/Fruta 5.jpg'%}" class="img-fluid" style="margin: -5%;" alt="New York"></a>
                </div>
              </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
          <div class="row mx-5">
            <div class="col ml-5">
              <div class="card" >
                
                <div class="card-body">
                  <h1>Acerca de nosotros</h1>
                  <p style="text-align: justify;" class="card-text">
                    Somos un grupo de jóvenes estudiantes de periodismo y de comunicación audio visual, cansados de los medios
            tradicionales, decididos a formar un colectivo de noticias independiente.
            Cada una de las personas que se une a esta idea, aporta con su experiencia y de esta forma asignan las
            tareas a cada uno de los integrantes para tratar de cubrir de la mejor forma posible las noticias que están
            pasando en Chile y el mundo con una mirada fresca y joven.
                  </p>
                </div>
              </div>

            </div>
            <div class="col ml-5">
              <div class="card">
                
                <div class="card-body">
                  <h1>Publica tu noticia aquí</h1>
                  <a href="{% url 'subirnoticia' %}"><img src="{% static 'core/img/foto camara.jpg' %}"  alt="..."></a>
                </div>
              </div>

            </div>
            <div class="col ml-5">
              <div class="card" >
                
                <div class="card-body">
                  
                  <h1 id="seleccionar" >Nuestro equipo de trabajo</h1>
                  <h4 id="seleccionar">-Martin del Rio</h4>
                  <h4 id="seleccionar">-Benjamin Rocco</h4>
                  <h4 id="seleccionar">-Alvaro Rios</h4>
                  <h4 id="seleccionar">-Cristian Maldonado</h4>
                  <h4 id="seleccionar">-Jose Pablo Herrera</h4>
                </div>
              </div>

            </div>
            
          </div>

          
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>