<!DOCTYPE html>
<html lang="en">
<head>

    <title>Caos-News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css">
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
   </script>
    <script type="text/javascript">
      function main(){
          
          alert("Debes estar registrado para subir una noticia");
          
      }
  
  </script>
      

</head>
<body id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
        <a class="navbar-brand" href="{% url 'main' %}"><img src="{% static 'core/img/caos_news_logo.jpg' %}" alt="Logo Caos-News" width="170" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div id="carousel1" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'paginaregister' %}">Registrate aquí </a>
            </li>
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'paginalogin' %}">Iniciar sesión</a>
            </li>
            
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'formulario1' %}">Trabaja con nosotros</a>
            </li>
          </ul>
          <form id="boton" class="form-inline my-2 my-lg-0">
            <input  class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
            <a href="{% url 'buscador' %}" ><button id="boton1" class="btn btn-primary btn-primary-outline-success" type="button">Buscar</button></a>
          </form>
        </div>
      </nav>
      <div>
        <a class="weatherwidget-io" href="https://forecast7.com/es/n33d45n70d67/santiago/" data-label_1="SANTIAGO" data-label_2="CLIMA" data-theme="original" >SANTIAGO CLIMA</a>
      </div>
      <div class="text-center">
        <div style="padding-left: 2%;" class="titulo"><h1>Alza en precio de frutas</h1></div>
          <div id="demo" class="carousel slide" data-ride="carousel">

          <div class="row mx-5">
            <div class="col ml-5">
              <div class="card" >
                

                    <div class="img1"><img src="{% static 'core/img/Fruta 1.jpg' %}" alt="imagen de perrito" width="300px" height="400px"></div>

              </div>

            </div>
            <div class="col ml-5">
              <div class="card">
                
                <div class="card-body">
                    <div style="text-align: justify;" class="cuerpo">En los últimos meses la fruta ha ido en alza pero no tanto como en el último donde se a disparado enormemente
                        en comparación a los anteriores, la gente está muy preocupada de no poder comprar fruta por su altísimo precio
                        ya que esta ha subido hasta un 120% en comparación al año pasado, mucha gente va a la vega a comprar diversos productos
                        pero principalmente la gente compra frutas y verduras en este lugar que por lo generas es muy concurrido pero ahora se ve
                        mucho más vacío, los comerciantes declaran que no tiene la culpa ya que los distribuidores son los que está aumentando los precios 
                        debido a una gran escasez de productos relacionados con la fruta, si bien antes las personas podía comprar por ejemplo 1kg de 
                        manzanas a 900$ hoy en día ese mismo kilo usted lo encuentra a 2100$, al preguntarle a la gente comprando nos dijeron estas 
                        palabras “No puede ser que la fruta cueste tanto estos son unos ladrones y se aprovechan de la gente”, “ciertamente la fruta 
                        subió pero sé que no es culpa de los vendedores yo les compro igual yo la necesito ya que mi familia come mucha fruta y es sano” 
                        ahora al preguntarle a la gente de la calle que le parecían los precios nos dijeron esto “No puede ser que este tan cara ya no 
                        puedo comparar fruta para mis hijos”, “yo no pienso compara nada de fruta hasta que los precios bajen esos sinvergüenza solo 
                        quieren aprovecharse de la gente” como se puede apreciar la mayoría de las personas se encuentran molestas y culpan principalmente 
                        a los vendedores locales quienes si bien han subido los precios no son la raíz de esta laza en la fruta.
                      </div>
                </div>
              </div>

            </div>
            <div class="col ml-5">
                <div class="img2"><img src="{% static 'core/img/Fruta 2.jpg' %}" alt="imagen de perrito" width="300px" height="400px"></div>

            </div>
            
                            
        <p>                                                                    *</p>
        
            <div style="text-align: justify;" class="pe">Periodista encargado: Pedro Arturo Gonzalez Jimenez<br>
                            Categoria: Economia<br>
                            Ubicacion: La vega central/Santiago de Chile
                            13/03/2022
                            </div>
                            
            
          </div>
          

          
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>