<!DOCTYPE html>
<html lang="en">
<head>

    <title>Caos-News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {%load static%}
    <link href="{% static 'core/css/style.css'%}" rel="stylesheet" type="text/css">
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
   </script>
    <script type="text/javascript">
      function main(){
          
          alert("Debes estar registrado para subir una noticia");
          
      }
  
  </script>
      

</head>
<body id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
        <a class="navbar-brand" href="{% url 'main'%}"><img src="{% static 'core/img/caos_news_logo.jpg'%}" alt="Logo Caos-News" width="170" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div id="carousel1" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'paginaregister'%}">Registrate aquí </a>
            </li>
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'paginalogin'%}">Iniciar sesión</a>
            </li>
            
            <li id="boton" class="nav-item">
              <a class="btn btn-primary" href="{% url 'formulario1'%}">Trabaja con nosotros</a>
            </li>
          </ul>
          <form id="boton" class="form-inline my-2 my-lg-0">
            <input  class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
            <a href="{% url 'buscador'%}" ><button id="boton1" class="btn btn-primary btn-primary-outline-success" type="button">Buscar</button></a>
          </form>
        </div>
      </nav>
      <div>
        <a class="weatherwidget-io" href="https://forecast7.com/es/n33d45n70d67/santiago/" data-label_1="SANTIAGO" data-label_2="CLIMA" data-theme="original" >SANTIAGO CLIMA</a>
      </div>
      <div class="text-center">
        <div style="padding-left: 2%;" class="titulo"><h1>Choque en carretera</h1></div>
          <div id="demo" class="carousel slide" data-ride="carousel">

          <div class="row mx-5">
            <div class="col ml-5">
              <div class="card" >
                

                    <div class="img1"><img src="{% static 'core/img/Choque1.jpg'%}" alt="imagen de perrito" width="300px" height="400px"></div>

              </div>

            </div>
            <div class="col ml-5">
              <div class="card">
                
                <div class="card-body">
                    <div style="text-align: justify;" class="cuerpo">Debido a un embotellamiento y nuevamente al abuso del alcohol mientras se conduce a ocurrido un accidente en la autopista central,
                        un conducto choco a los autos detenidos por el embotellamiento generando un choque en cadena debido a que estaba conduciendo a más de 110km/h y
                        se encontraba alcoholizado por lo que no pudo frenar provocando este grave accidente que lleva 2 muertos y 30 heridos hasta ahora,
                        las autoridades intentan rescatar a los accidentados de los autos que quedaron atrapados entre otros y no pueden salir por sus medios,
                        equipos de emergencias ya están atendiendo a la mayoría de los heridos y están siendo transportados al hospital barros luco.
                        Las palabras que dio el imputado al ser entrevistado mientras lo rescataban fueron “No creí que fuera a pasar esto,
                        solo tome un par de cervezas con mis amigos, se suponía que sería divertido y llegaría rápido a casa”
                        estas palabras no consuelan a las familias de los fallecidos por la irresponsabilidad de esta persona.
                        De momento carabineros no ha dado una declaración de cuál será la pena del imputado y se comprobó que por lo menos
                        no estaba bajo los efectos de ningún otro estupefaciente además del alcohol.
                      </div>
                </div>
              </div>

            </div>
            <div class="col ml-5">
                <div class="img2"><img src="{% static 'core/img/Choque2.jpg'%}" alt="imagen de perrito" width="300px" height="400px"></div>

            </div>
            
          </div>
          
          <div style="text-align: justify;" class="pe">Periodista encargado: Maria Ana Pinto Olivares<br>
            Categoria: Accidentes<br>
            Ubicacion: Estacion Central/Santiago de Chile
            13/03/2022</div>

          
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>